//* colors
$color-green: #3bb397;

//* fonts
$font-Vazir : "Vazir";

//* mixins
@mixin flex ($justify-content , $align-items) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin fontStyle ($font-family , $font-size , $font-color) {
    font-family: $font-family;
    font-size: $font-size;
    color: $font-color;
}