@font-face {
  font-family: "Vazir-light";
  src: url(../fonts/Vazir-Light.eot) format("embeded-opentype"), url(../fonts/Vazir-Light.woff2) format("woff2"), url(../fonts/Vazir-Light.woff) format("woff"), url(../fonts/Vazir-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Vazir";
  src: url(../fonts/Vazir-Medium.eot) format("embeded-opentype"), url(../fonts/Vazir-Medium.woff2) format("woff2"), url(../fonts/Vazir-Medium.woff) format("woff"), url(../fonts/Vazir-Medium.ttf) format("truetype");
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Vazir";
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background: url(../images/back.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#register .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 85%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.42);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

#register .container .rightWrapper {
  width: 65%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#register .container .rightWrapper .right-register {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.42);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

#register .container .rightWrapper .right-register .title {
  color: #3bb397;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#register .container .rightWrapper .right-register ul {
  display: flex;
  justify-content: space-between;
}

#register .container .rightWrapper .right-register ul li {
  list-style: none;
  margin: 1rem;
}

#register .container .rightWrapper .right-register ul li a {
  color: #222;
}

#register .container .rightWrapper .right-register ul li a svg {
  padding: 0.5rem;
  width: 35px;
  height: 35px;
  border: 1px solid #222;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#register .container .rightWrapper .right-register ul li a .icon.fa-google-plus-g {
  color: #d34836;
}

#register .container .rightWrapper .right-register ul li a .icon.fa-facebook-f {
  color: #3b5998;
}

#register .container .rightWrapper .right-register ul li a .icon.fa-linkedin-in {
  color: #0072b1;
}

#register .container .rightWrapper .right-register .desc {
  color: rgba(34, 34, 34, 0.363);
  font-family: "Vazir-light";
  margin-bottom: 1rem;
}

#register .container .rightWrapper .right-register .registerForm {
  width: 50%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#register .container .rightWrapper .right-register .registerForm .formItem {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

#register .container .rightWrapper .right-register .registerForm .formItem input {
  caret-color: #3bb397;
  font-family: "Vazir-light";
  background-color: transparent;
  font-size: .9rem;
  width: 80%;
  height: auto;
  outline: none;
  padding: 0.2rem 1rem;
  border: none;
  border-bottom: 2px solid rgba(51, 50, 50, 0.39);
}

#register .container .rightWrapper .right-register .registerForm .formItem input:focus {
  border-bottom: 2px solid #3bb397;
}

#register .container .rightWrapper .right-register .registerForm .formItem .icon {
  width: 10%;
  font-size: 1.1rem;
  color: #3bb397;
}

#register .container .rightWrapper .right-register .registerForm .buttons {
  width: 100%;
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: center;
}

#register .container .rightWrapper .right-register .registerForm .buttons .btnSubmit {
  height: max-content;
  color: #ffffff;
  font-family: "Vazir-light";
  margin: .5rem;
  padding: 0.5rem 3rem;
  background-color: #3bb397;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}

#register .container .rightWrapper .right-register .registerForm .buttons .btnSignIn {
  display: none;
  height: max-content;
  font-family: "Vazir-light";
  color: #3bb397;
  margin: .5rem;
  padding: 0.5rem 3rem;
  background-color: transparent;
  border: 1px solid #3bb397;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}

#register .container .rightWrapper .right-sign-in {
  position: absolute;
  top: 0;
  right: -100%;
  padding: 2rem 0;
  width: 100%;
  height: 100%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.42);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}

#register .container .rightWrapper .right-sign-in .title {
  color: #3bb397;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

#register .container .rightWrapper .right-sign-in ul {
  display: flex;
  justify-content: space-between;
}

#register .container .rightWrapper .right-sign-in ul li {
  list-style: none;
  margin: 1rem;
}

#register .container .rightWrapper .right-sign-in ul li a {
  color: #222;
}

#register .container .rightWrapper .right-sign-in ul li a svg {
  padding: 0.5rem;
  width: 35px;
  height: 35px;
  border: 1px solid #222;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

#register .container .rightWrapper .right-sign-in ul li a .icon.fa-google-plus-g {
  color: #d34836;
}

#register .container .rightWrapper .right-sign-in ul li a .icon.fa-facebook-f {
  color: #3b5998;
}

#register .container .rightWrapper .right-sign-in ul li a .icon.fa-linkedin-in {
  color: #0072b1;
}

#register .container .rightWrapper .right-sign-in .desc {
  color: rgba(34, 34, 34, 0.363);
  font-family: "Vazir-light";
  margin-bottom: 1rem;
}

#register .container .rightWrapper .right-sign-in .registerForm {
  width: 50%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#register .container .rightWrapper .right-sign-in .registerForm .formItem {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

#register .container .rightWrapper .right-sign-in .registerForm .formItem input {
  caret-color: #3bb397;
  font-family: "Vazir-light";
  background-color: transparent;
  font-size: .9rem;
  width: 80%;
  height: auto;
  outline: none;
  padding: 0.2rem 1rem;
  border: none;
  border-bottom: 2px solid rgba(51, 50, 50, 0.39);
}

#register .container .rightWrapper .right-sign-in .registerForm .formItem input:focus {
  border-bottom: 2px solid #3bb397;
}

#register .container .rightWrapper .right-sign-in .registerForm .formItem .icon {
  width: 10%;
  font-size: 1.1rem;
  color: #3bb397;
}

#register .container .rightWrapper .right-sign-in .registerForm .buttons {
  width: 100%;
  display: flex;
  height: auto;
  justify-content: center;
}

#register .container .rightWrapper .right-sign-in .registerForm .buttons .btnRegister {
  display: block;
  color: #ffffff;
  margin: .5rem;
  padding: 0.5rem 3rem;
  background-color: #3bb397;
  border: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}

#register .container .rightWrapper .right-sign-in .registerForm .buttons .btnSignIn {
  display: none;
  color: #3bb397;
  margin: .5rem;
  padding: 0.5rem 3rem;
  background-color: transparent;
  border: 1px solid #3bb397;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  cursor: pointer;
}

#register .container .left {
  width: 35%;
  height: 100%;
  background: url(../images/2.svg);
  background-position: center;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 0 .5rem;
  align-items: center;
}

#register .container .left .title {
  color: #ffffff;
  margin-bottom: 1rem;
}

#register .container .left .desc {
  color: #ffffff;
  font-family: "Vazir-light";
  font-size: .7rem;
  margin-bottom: 1rem;
}

#register .container .left .button {
  padding: 0.3rem 2rem;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  font-family: "Vazir-light";
  color: #ffffff;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */